.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 1.125em;
  line-height: 1.5em;
  background: rgb(255,204,153);
}

/*
normal:
  color: #333;
  background: rgb(255,204,153);

valentine's day:
  color: #FFF;
  text-shadow: 1px 1px 2px black;
  background: rgb(245,147,202);
*/

h1, h2, h3 {
  color: #333;
  text-shadow: 1px 1px 2px black;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  color: #09f;
  /* color: #fff; */
}

a:hover {
  text-decoration: underline;
}

footer {
    text-align: center;
    font-size: 0.7em;
}

.title {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
}

.center-zone {
    /* font-family: 'Bitter', serif; */
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

button.like-button {
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    border-style: none;
    background: rgb(237,153,51);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
}

button.like-button:hover {
    background: rgb(255,102,51);
}

img.pekoe {
    text-align: center;
    margin: 0 auto;
    height: 500px;
}

.stats {
}